.hwBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hwTituloBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 2em;
    padding-left: 8vw;
}

.hwBorderTitulo {
    margin: 0;
    border: 0;
    background-color: #727272;
    width: 1.5vh;
    height: 15vh;
}

.hwTitulo {
    font-family: "Crimson Text", serif;
    font-size: 8em;
    font-weight: 600;
}

.hwImgHeader {
    height: 28vh;
    width: 15vw;
}

.hwArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 20vh;
    width: 100%;
    background-color: #6B8B14;
    color: #fff;
}

.hwSecComponentes {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.hwC1Componentes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 90%;
}

.hwC2Componentes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 90%;
}

.hwIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    height: 100%;
}

.hwDE {
    font-size: 2em;
    color: #134B00;
}

.hwD {
    color: #BCDAB1;
}

@media only screen and (max-width: 1075px) {
    
    .hwImgHeader {
        height: 20vh;
        width: 12vw;
    }
    
    .hwIcons {
        gap: 1.4em;
    }

    .hwArticle p {
        width: 90%;
    }
}

@media only screen and (max-width:850px) {
    .hwImgHeader {
        height: 15vh;
        width: 10vw;
    }
}

@media only screen and (max-width:800px) {
    .hwImgHeader {
        display: none;
    }
    .hwIcons {
        display: none;
    }
    .hwSecComponentes {
        flex-direction: column;
        gap: 2em;
    }
}

@media only screen and (max-width:680px) {
    .hwTitulo {
        font-size: 5em;
    }
}

@media only screen and (max-width: 500px) {
    .hwTitulo {
        font-size: 3.5em;
    }
    .hwBorderTitulo {
        display: none;
    }
}