.tituloResultados {
   border-left: solid 0.5vw #767676;
   padding-left: 1vw; 
   font-size: 4vw;
   margin-left: 3vw;
}

.divisaoResultados {
   width: 97%;
}

.paragrafoResultados {
   padding-left: 4vw;
   padding-right: 4vw;
   padding-bottom: 4vw;
   font-size: 1.2vw;
   text-align: justify;
   margin-top: 2vw;
   margin-bottom: 2vw;
}

.videoResultados {
   display: flex;
   justify-content: center;
   margin-top: 2vw;
   margin-bottom: 2vw;
   padding-left: 5vw;
   padding-right: 5vw;
   padding-bottom: 5vw;
   padding-top: 15vw;
   border-radius: 0.5vw;
   background-color: #8E9C78;
   color:white;
}

.galeriaResultados {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2vw;
   margin-bottom: 5vw;
}

.galeriaResultados img {
   width: 25vw;
   border-radius: 0.3vw;
}